<div class="posts">
  <section class="post">
    <header class="post-header">
      <div class="pure-g">
          {{#if isEdit}}
            {{input type="text" value=content.title class="post-title pure-u-1" maxlength=80}}
          {{else}}
            <h2 class="post-title pure-u-md-7-8">
              {{content.title}}
            </h2>
            <nav class="nav pure-u-md-1-8">
              <ul class="nav-list">
                  <li class="nav-item">
                      <button class="pure-button pure-button-primary" type="button" name="button" {{action "toggleEdit"}}>Edit</button>
                  </li>
              </ul>
            </nav>
          {{/if}}
      </div>
    </header>
    <div class="post-description">
      {{#if isEdit}}
        <form class="pure-form pure-form-stacked">
          <fieldset>
              <div class="pure-g">
                {{textarea value=content.content rows="20" class="pure-u-1"}}
              </div>
              <button {{action 'toggleEdit'}} class="pure-button pure-button-primary">Save</button>
              <button {{action 'toggleEdit'}} class="pure-button">Cancel</button>
          </fieldset>
        </form>
      {{else}}
        <p>
          {{content.content}}
        </p>
      {{/if}}
    </div>
  </section>  
</div>
